@media only screen and (max-width: 998px) {
    #image_item ,.nav2{
      display: none;
    }
    .item_header,.item_subheader,.textbody{
        text-align: center;
    }
    #signup{
        display: none;
    }
    .nav1{
        margin: 0 10px;
    }
    #navbarSupportedContent{
        width: 90vw;
    }
  }
  @media only screen and (min-width: 600px) {
    .card{
        width: 25vw;
        margin: 10px auto;
        height: 500px;
    }
    .card-list{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .card-body{
        height: 220px;
    }
    .card-btn{
        margin: 20px ;
        width: fit-content;
    }
    
  }