@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0 ;padding: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important ;
}

#header_text{
    font-size: 25px;
    color: rgb(104, 32, 171);
    font-weight: bold !important;
}

.nav-link:hover{
    border-bottom: 2px solid rgb(104, 32, 171);
    line-height: 15px;
}
.hbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin: 0 5px;
}
.btn-header{
    border-radius: 50px !important;
    background-color:rgb(104, 32, 171) !important;
    color: beige !important;
    padding: 0 5px;
    margin: 0 10px;
}
.nav2 .nav .nav-item a,.nav2 .subnav2 i,#cwh,#typer,.menu{

    color: rgb(104, 32, 171) !important;
}
.nav2 .subnav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin: 0 !important;
}
.nav2{
    border-bottom: 3px solid rgb(235, 235, 235);
}
header{
    position: relative;
    z-index: 100;
}
main{
    margin: 0px 50px;
}
#cwh{
    padding: 0 2px;
    border-right: 3px solid rgb(255, 255, 255);
    animation-name: cursor;
    animation-duration: 300ms;
    animation-iteration-count: 5;
}

@keyframes cursor {
    from {
        border-right: 3px solid rgb(255, 255, 255);
    }
    to {
        border-right: 3px solid black;
    }
}
.item1{
    display: flex;
    justify-content: center;
    height: fit-content;
}
#image_item{
    width: 50vw;
    height: 400px;
    clip-path: polygon(10% 0%,100% 0%,100% 100%,10% 100%,0% 50%);
    
}

.item_text{
    margin: auto;
}
.btn-secondary{
    color: black !important;
    margin: 0 10px;
}
.rl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1{
    margin: 0 50px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarSupportedContent{
    text-align: center;
}